:root {
    --darkest-base: #202231;
    --dark-base: #282A3E;
    --base: #2B2D42;
    --light-base: #30334A;
    --lightest-base: #34364C;
     /* Print */
    --dark-slate: #4f5067;
    --slate: #A8A8C7;
    --light-slate: #C7C7DB;
    --lightest-slate: #E6E6EF;
    /* Branding */
    --primary: #F6BE5F;
    --secondary: #FA9875;
    --gradient: linear-gradient(109.8deg, var(--primary) -6.35%, var(--secondary) 105.29%);
    --border-radius: .8rem;
    --dark-box-shadown: 0px 14px 25px -5px rgba($darkest-base, 0.7);
    --light-box-shadown: 0px 1px 20px 0px rgba($primary, 1);
}

body {
    --primary: 25,91,255;
    --color: 44, 62, 80;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    height: 100vh;
    background: var(--dark-base);
    height: calc(var(--vh, 1vh) * 100);
    overflow: hidden;
    color: var(--lightest-slate);
}
* {
    list-style: none;
    outline: none;
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
.content {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;
}
.con-user {
    padding-top: 10px;
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: var(--base);
    padding-bottom: 10px;
    border-radius: 0px 0px 40px 0px;
}
.con-user .title {
    text-align: center;
    width: 100%;
}
.con-user .title h1 {
    font-size: 1.1rem;
    padding: 0px 0px;
}
.con-user .title p {
    font-size: .9rem;
    opacity: .6;
    padding: 6px 10px;
}
.con-user .title p a {
    color: var(--light-slate);
}
.avatar img {
    width: 80px;
    border-radius: 30px;
}
.con-menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    max-width: 500px;
    margin: auto;
    width: 100%;
    position: relative;
    z-index: 10;
    box-shadow: var(--dark-box-shadown);
    border-radius: 0px 0px 30px 30px;
}
.con-menu button {
    cursor: pointer;
    padding: 12px;
    width: calc(50% - 4px);
    border: 0px;
    background: transparent;
    font-weight: bold;
    color: var(--slate);
    font-size: 1rem;
    transition: all .25s ease;
    box-shadow: var(--dark-box-shadown);
    border-radius: 16px;
    z-index: 2;
}
.con-menu button:hover {
    transition: background .5s, color .5s;
    background: var(--lightest-base);
    color: var(--lightest-slate);
}
.con-menu button.active {
    color: var(--lightest-slate);
    background: var(--lightest-base);
    box-shadow: var(--dark-box-shadown);
    /* color: rgb(var(--primary)); */
}
.con-contents {
    width: 100%;
    overflow-x: auto;
    overflow-y: hidden;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    flex: 1;
    height: 100%;
    position: relative;
    max-width: 500px;
}
.con-posts {
    min-width: 100%;
    scroll-snap-align: center;
    overflow: auto;
    padding-bottom: 30px;
    max-width: 500px;
}
.con-posts .post {
    width: calc(100% - 40px);
    overflow: hidden;
    box-sizing: border-box;
    display: block;
    margin: 20px;
    position: relative;
    color: var(--light-slate);
    border-radius: 30px;
    box-shadow: var(--dark-box-shadown);
    margin-top: 20px;
    margin-bottom: 20px;
}
.con-file {
    width: 100%;
    padding-bottom: 100%;
    height: 0;
}
.con-posts .post img {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 0px;
    transform: translate(0,-50%);
}
.con-posts .post video {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 0px;
    transform: translate(0,-50%);
}
.con-posts .post footer {
    position: absolute;
    bottom: 0px;
    z-index: 10;
    padding: 10px 20px;
}
.con-posts .post footer h3 {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.con-posts .post footer h3 i {
    margin-right: 5px;
    font-size: 1.4rem;
}
.con-posts .post .effect {
    position: absolute;
    bottom: 0px;
    height: 150px;
    width: 100%;
    background: linear-gradient(0deg, rgba(32,34,49, 1) 30%, rgba(0,0,0,0.001) 100%);

}
.con-links {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    padding: 15px 20px;
    padding-top: 0px;
    max-width: 500px;
    width: 100%;
    margin: auto;
    min-width: 100%;
    scroll-snap-align: center;
    flex: 1;
    overflow: auto;
    padding-top: 20px;
}
.con-links a {
    display: block;
    width: 100%;
    padding: 18px 22px;
    text-decoration: none;
    font-size: 1rem;
    /* color: #fff; */
    color: var(--light-slate);
    display: flex;
    align-items: center;
    justify-content: center;
    /* background: rgb(var(--primary)); */
    /* background: rgb(var(--color));; */
    margin-bottom: 12px;
    border-radius: 25px;
    position: relative;
    /* border: 2px solid rgb(var(--color)); */
    background: var(--lightest-base);
    /* box-shadow: 0px 10px 30px 0px rgba(var(--primary), .15); */
}
.con-links a:after {
    content: '';
    left: 0px;
    top: 0px;
    width: 61px;
    height: 61px;
    position: absolute;
    border-radius: 25px;
}
.con-links a:last-child {
    margin-bottom: 40px;
}
.con-links a img {
    max-width: 22px;
    position: absolute;
    left: 20px;
    z-index: 10;
}
.con-links a svg {
    width: 22px;
    fill: #fff;
    position: absolute;
    left: 19px;
    z-index: 10;
}
.con-links a i {
    font-size: 1.6rem;
    position: absolute;
    left: 18px;
    z-index: 10;
    color: var(--lightest-slate);
}
.con-links a span {
    text-align: center;
}
.con-links a span p {
    font-size: .8rem;
}